*{
    margin: 0px;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: white
}

.navbar {
    position: fixed;
    width: 100%;
    background-color: #8c403c;
    z-index: 1;
}

nav {
    display: flex;
    width: 94%;
    margin: auto;
    padding: 20px 0;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

nav header{
    font-size: 25px;
    color: white;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 17px;
    transition: color 0.5s;
}

nav ul li a:hover{
    color: #e7e2d4;
}

/* background image style on home page */

.homeBackground {
    background-color: rgb(221, 242, 251);
}

.homeBackground #mainPic {
    position: relative;
    filter: brightness(25%);
}

.homeBackground #secondaryPic {
    transform: translateY(-380px);
    margin-left: 16%;
}

.homeBackground h2 {
    color: rgb(212, 201, 201);
    position: absolute;
    font-size: 55px;
    transform: translateY(-630px);
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

/* button styles */ 
.btn {
    display: inline-block;
    padding: 14px 28px;
    background-color: white;
    border: 2px solid rgb(17, 76, 108);
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(17, 76, 108);
    border-radius: 5px;
    transition: background 0.5s;
    text-align: center;
    margin-top: 3rem;
}

.btn:hover {
    background-color: rgb(36, 103, 139);;
    color:#f6f6f6;
    text-align: center;
}

/* main content styles on home page */

.aboutOurCampaign {
    font-size: 25px;
    padding-bottom: 80px;
    background-color: #cb9c63;
    transform: translateY(-200px);
    position: relative;
}

.aboutOurCampaign h3 {
    transform: translateY(-135px);
    text-align: center;
}

.aboutOurCampaign h1 {
    text-align: center;
    padding-top: 60px;
    color: black;
}

.aboutOurCampaign p {
    text-align: center;
    padding-top: 22px;
    line-height: 38px;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
}

.aboutOurCampaign a {
    margin-left: 41%;
    position: relative;
    background-color: rgb(36, 103, 139);
    border-color: rgb(24, 96, 134);
    color: white;
    
}

.aboutOurCampaign a:hover {
    background-color: rgb(12, 91, 134);
}

/* home page animated counter styles */
.statistics {
    transform: translateY(-200px);
}

.statistics h1 {
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 10%;
}

.statistics h2 {
    text-align: center;
    padding-bottom: 5%;
}

.container {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 80%;
    margin: auto;
}

.counter-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.counter {
    text-align: center;
}

.counter h3 {
    padding: 0.5rem 0;
    font-size: 2.5rem;
    font-weight: 800;
}

.counter h6 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.volunteerOpps {
    transform: translateY(-80px);
    font-size: 25px;
    padding-bottom: 10%;
}

.volunteerOpps h1 {
    text-align: center;
}

.volunteerOpps p {
    text-align: center;
    padding-top: 22px;
    line-height: 38px;
}

.volunteerOpps a {
    transform: translateX(615px);
}

/* home page grid styles */

.grid-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 100px;
    margin-left: 100px;
    column-gap: 10px;
    padding-top: 15px;
}

.grid-item-wrapper {
    position: relative;
    border-style: border-box;
    border: 1.8px solid rgb(232, 229, 229);
    margin-top: 3%;
    box-shadow: 6px 4px 8px -2px;
}

.grid-img-background {
    height: 380px;
    width: 100%;
    background-size: cover;
    /* ^if images aren't same size, makes sure images are cropped so they are even and equal */
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: #bf8d4e;
}

.img-darken {
    transition: 0.6s;
    filter: brightness(10%);
}


/* getInvolved page styles */

.calendar {
    transform: translateY(82px);
    text-align: center;
    background-color: rgb(229, 241, 246);
}

.calendar iframe {
    padding-bottom: 3%;
}

.calendar h1 {
    text-align: center;
    font-size: 55px;
    padding-top: 5%;
    padding-bottom: 2%;
    font-weight: bold;
}

.calendar h2 {
    line-height: 38px;
    transform: translateY(30px);
    color: rgb(12, 91, 134);
}

.calendar p {
    font-size: 35px;
    padding-top: 5%;
    line-height: 50px;
    font-weight: bold;
}

.calendar .aboutOurCampaign {
    transform: translateY(50px);
    background-color: rgb(177, 158, 177);
}

.moreAboutOurOrgs {
    transform: translateY(220px);
    font-size: 20px;
}

.moreAboutOurOrgs h1 {
    text-align: center;
    color: rgb(12, 91, 134);
    font-weight: bold;
    padding-bottom: 30px;
}

.moreAboutOurOrgs h2 {
    margin-left: 100px;
    padding-top: 30px;
}

table {
    width: 90%;
    border-collapse: collapse;
    padding-top: 20px;
    margin-left: 70px;
    background-color: white;
    margin-bottom: 30px;
}

table, th, td {
    border: 1px solid;
  }

th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #8c403c;
    color: white;
    height: 60px;
}

td {
    text-align: center;
    height: 50px;
    vertical-align: bottom;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: rgb(196, 195, 195);}

/* Meet The Team page styles */
.meetTeamBackground {
    background-position: center;
    background-size: cover;
    width: 100vw;
    transform: translateY(-100px);
    object-fit: cover;
    
}

.mainContent h1 {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}

.picContainer {
    display: flex;
    flex-wrap: wrap;
    padding-left: 12%;
  }
  
  .picContainer .profileImage {
    width: 50%;
  }

.profileImage {
    padding-bottom: 3%;
    padding-top: 5%;
}

.profileImage figcaption {
    text-align: left;
    margin-right: 27%;
    font-size: 19px;
}
  

/* Contact Us page styles */
.connectContent {
    transform: translateY(70px);
    background-color: #f6dbba;
    padding: 10%;
    text-align: center;
}

.connectContent h1 {
    font-size: 55px;
}

.connectContent h2 {
    padding-top: 5%;
}

.connectContent h3 {
    padding-top: 3%;
}
